@import '../utils/variables';
@import '../utils/mixins';

.product {
    overflow: hidden;
    &-block {
        display: grid;
        grid-template-columns: 31fr 31fr 38fr 38fr 31fr 31fr;
        &-item {
            &-project {
                position: relative;
                background-color: #ebb240;
                grid-row-start: 1;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: 3;
                background-image: linear-gradient(to bottom right, #0000 49.7%, #fff, #fff, #0000 50%);
            }
        }
    }
}

.def-h2 {
    text-transform: uppercase;
    @include font-props($larger-fs, 300, $main-color, 1.4rem);
    font-family: $main-family;
}

.def-list {
    li {
        span {
            font-size: $main-fs;
            line-height: 1.4rem;
            color: $main-color;
            font-weight: 300;
            text-transform: uppercase;
            font-family: $main-family;
            @include font-props($main-fs, 300, $main-color, 1.4rem);
        }
    }
}



.projects-item:hover .icon-right-product {
    opacity: 1;
}

.projects-item-time:hover .icon-right-time {
    opacity: 1;
}


.lamp-block {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    .view-block {
        margin-top: 7.5rem;
    }
    .like-block {
        margin: 11rem 0 0 5.5rem;
    }
    display: flex;
    justify-content: space-between;
    position: relative;
    .lamp-img {
        z-index: 5;
        margin-top: -8.5rem;
        display: block;
        max-height: 50rem;
    }
    // background-image: url(../img/fondue-bg.png);
    // background-size: cover;
    // background-position-x: center;
    padding: 8.5rem 0 0 5rem;
}

.lamp-desc {
    &-text {
        margin-top: 1rem;
    }
}

.view-block {
    display: flex;
    .icon-right {
        color: #ebb240;
        font-size: $largest-fs;
    }
    .icon-right-desc {
        font-size: 1.6rem;
    }
    &-text {
    @include font-props(1.8rem, 300, $main-color, 1.4rem);
        font-family: $main-family;
        text-transform: uppercase;
        margin: .7rem 0 0 1rem;
    }
}

.like-block {
    width: 3rem;
    cursor: pointer;
    .icon-heart-empty {
        font-size: $largest-fs;
    }
    span {
        display: block;
        @include font-props(1.1rem, 300, #ff0000, 1.2rem);
        margin-left: .3rem;
        font-family: $main-family;
    }
}

.potter-block {
    grid-column-start: 5;
    grid-column-end: 7;
    display: flex;
    justify-content: space-between;
    padding: 3.5rem 6rem 0 5rem;
    background-color: #dfe0d9;
    .view-block {
        margin: 1.5rem 0 0;
    }
    .like-block {
        margin: 1rem 0 0 6rem;
    }
    .potter-img {
        height: 25rem;
        margin-top: -3.5rem;
    }
}

.projects {
    position: absolute;
    left: 30%;
    top: 32%;
    &-item {
        display: flex;
        cursor: pointer;
        .icon-right {
            color: #fff;
            opacity: 0;
        }
    }
    &-text {
        @include font-props(1.3rem, 400, #ffffff, 1.4rem);
        text-transform: uppercase;
        font-family: $main-family;
        margin-left: 1rem;
        display: block;
    }
    &-item:hover &-text {
        color: #000;
    }
}

.projects-head {
    font-size: 4.8rem;
    color: #fefefe;
    font-weight: 400;
    position: absolute;
    top: 60%;
    left: 50%;
}

.potter-block-description {
    margin-top: 2rem;
}

.potter-description-text, .potter-description-head {
    display: block;
    max-width: 15rem;
    @include font-props($main-fs, 300, $main-color, 1.4rem);
    font-family: $main-family;
}

.potter-description-head {
    text-transform: uppercase;
}

.tabano-block {
    padding: 3.5rem 5.5rem 3.5rem;
    background-color: #e9eae2;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 7;
}

.tabano-img {
    max-width: 25rem;
    display: block;
    margin: 0 auto;
}

.tabano-description {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    &-text {
        &-block {
            margin-top: 1.5rem;
        }
    }
    &-social {
        display: flex;
        .like-block {
            margin-left: 1.5rem;
        }
    }
}

.louis-block {
    grid-row-start: 3;
    grid-row-end: 5;
    padding: 3.3rem 0 0 4rem;
    background-image: url(../img/louis-background.png);
    background-position: center;
    background-size: cover;
    &-desc {
        .def-h2 {
            color: #fff;
        }
        &-text {
            @include font-props($main-fs, 300, #fefefe, 1.4rem);
            max-width: 25.2rem;
            font-size: $main-fs;
            line-height: $main-fs;
            color: $main-color;
            font-weight: 300;
            font-family: $main-family;
            text-transform: uppercase;
            color: #fefefe;
            margin-top: 1.5rem;
        }
    }
    .view-block {
        margin-top: $largest-fs;
        &-text {
            color: #ffffff;
        }
    }
    .like-block {
        margin: $largest-fs 0 0 5rem;
        .icon-heart-empty {
            color: #fff;
        }
    }
    .louis-img {
        display: block;
        max-width: 19.5rem;
    }
}

.p22-block {
    grid-column-start: 2;
    grid-column-end: 5;
    height: 100%;
    display: flex;
    padding: 6.5rem 6.6rem 0 9.5rem;
    position: relative;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: #eaeaea;
    &-desc {
        position: absolute;
        left: 35rem;
        top: 7rem;
        z-index: 10;
        &-text {
            margin-top: 2rem;
        }
    }
    .p22-block-social {
        margin-left: auto;
        .like-block {
            margin: 2rem 0 0 7rem;
        }
    }
}

.p22-img {
    max-width: 45rem;
    max-height: 35rem;
    display: block;
}

.fiji-block {
    grid-column-start: 5;
    grid-column-end: 7;
    display: flex;
    justify-content: space-between;
    padding: 3.5rem 10.5rem 0 3rem;
    background-color: #fff;
    &-img {
        display: block;
        max-width: 19rem;
    }
    &-desc {
        &-list {
            margin-top: 2rem;
        }
        .view-block {
            margin-top: 2.2rem;
        }
        .like-block {
            margin: 1.5rem 0 0 6.5rem;
        }
    }
}

.project-time-line {
    display: block;
    .container {
        display: grid;
        height: 100%;
        grid-template-columns: 49fr 20fr 31fr;
    }
}

.sensann-block {
    padding: 2.5rem 10.5rem;
    background-color: #fff;
    &-desc {
        margin-top: 3rem;
        .def-h2 {
            color: $main-color;
        }
        &-list {
            margin-top: 1rem;
        }
    }
}

.sensann-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alessi-block {
    padding: 9rem 0 0 13rem;
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: #cecece;
}

.alessi-desc {
    z-index: 10;
    &-list {
        margin-top: 1rem;
    }
    .view-block {
        margin-left: -5rem;
        margin-top: 1.5rem;
    }
    .like-block {
        margin-top: 1.5rem;
    }
}

.sensann-img {
    max-width: 57rem;
}

.alessi-img {
    left: -9rem;
    top: 8rem;
    max-width: 21rem;
    display: block;
    position: absolute;
}

.time-line-block {
    background-image: linear-gradient(to bottom right, #0000 49.7%, #fff, #fff, #0000 50%);
    overflow: hidden;
    background-color: #ebb240;
    position: relative;
    &-head {
        @include font-props($main-fs, 400, $main-color, 1.4rem);
        margin-left: 2rem;
        text-transform: uppercase;
        padding-bottom: 1rem;
        text-align: center;
        font-family: $main-family;
    }
    .time-line-wrapper {
        position: absolute;
        top: 15%;
        left: 25%;
    }
    .projects {
        position: static;
        &-text-time {
            @include font-props(1.3rem, 400, #ffffff, 1.4rem);
            font-family: $main-family;
            display: block;
            padding-left: 1rem;
        }
        &-item-time:hover .projects-text-time{
            color: #000;
        }
    }
}

.studio {
    .container {
        display: grid;
        grid-template-columns: 31fr 69fr;
    }
    &-block {
        background-image: linear-gradient(to bottom right, #0000 49.7%, #fff, #fff, #0000 50%);
        overflow: hidden;
        background-color: #ff9b6d;
        height: 100%;
        position: relative;
        &-head {
            @include font-props(4.8rem, 400, #fefefe, 1.4rem);
            top: 55%;
            left: 50%;
            text-transform: uppercase;
            position: absolute;
            font-family: $main-family;
        }
    }
    &-text {
        background-color: #e9eae2;
        padding: 7.5rem 11rem 0 11rem;
        display: flex;
        justify-content: space-between;
        &-desc {
            &-para {
                @include font-props(1.8rem, 300, $main-color, 1.6rem);
                margin-top: 2.5rem;
                max-width: 34rem;
                font-family: $main-family;
            }
            &-para:nth-child(3) {
                margin-top: 4rem;
            }
        }
    }
}

.studio-img {
    max-width: 35rem;
}

.awards {
    margin: 3rem 0 0 .5rem;
    &-head {
        @include font-props($main-fs, 700, $main-color, 1.8rem);
        text-transform: uppercase;
        font-family: $main-family;
    }
    &-line {
        width: 100%;
        height: .1rem;
        background-color: #bfc0b9;
        margin-top: .5rem;
    }
    &-desc {
        display: flex;
        justify-content: space-between;
        &-list {
            margin-top: 2rem;
            &-item {
                @include font-props(1.2rem, 400, $main-color, 1.4rem);
                font-family: $main-family;
                text-transform: uppercase;      
            }       
        }
    }
}

.studio-designer {
    background-color: #e9eae2;
    padding: 10rem 0 0 0;
    .container {
        display: grid;
        grid-template-columns: 31fr 69fr;
    }
    &-desc {
        height: 40rem;
        padding: 0 0 0 15rem; 
        max-width: 27rem;
        grid-column-start: 1fr;
        grid-column-end: 2fr;;
        &-head {
            @include font-props($main-fs, 400, $main-color, 1.4rem);
            font-family: $main-family;
        }
        &-text {
            font-family: $main-family;
            margin-top: 2rem; 
            @include font-props($main-fs, 400, #5f5f5d, 1.4rem);
        }
    }
    &-list {
        padding: 0 12rem 0 0;
        grid-column-start: 2;
        grid-column-end: 4;;
        display: flex;
        justify-content: space-between;
        &-item {
            margin-left: 3.5rem;
            &-img {
                max-width: 27rem;
            }
        }
        &-item:nth-child(1) {
            margin: 0;
        }
    }
}

.designer-social {
    margin-top: 2rem;
}

.designer-name {
    @include font-props(1.3rem, 700, $main-color, 1.6rem);
    text-transform: uppercase;
    margin-top: 1rem;
    display: block;
    font-family: $main-family;
}

.designer-desc {
    @include font-props(1.2rem, 400, $main-color, 1.6rem);
    text-transform: uppercase;
    font-family: $main-family;
}

.designer-social {
    display: flex;
    justify-content: space-between;
}

.designer-block-social {
    .designer-icon {
        color: #fd5000;
        font-size: 16px;
    }
}

.cv-block {
    display: flex;
    align-items: center;
    &-text {
        @include font-props($main-fs, 400, #fd5000, 1.6rem);
        font-family: $main-family;
    }
    .icon-left {
        color: #fd5000;
    }
}

.news {
    display: grid;
    grid-template-columns: 31fr 34.5fr 34.5fr;
    &-block {
        overflow: hidden;
        grid-column-start: 1;
        background-image: linear-gradient(to bottom right, #0000 49.7%, #fff, #fff, #0000 50%);
        grid-column-end: 2;
        position: relative;
        height: 100%;
        background-color: #d4edbf;
        &-head {
            @include font-props(4.8rem, 400, #ffffff, 1.4rem);
            position: absolute;
            top: 55%;
            left: 50%;
            text-transform: uppercase;
            font-family: $main-family;
        }
    }
}

.news-desc {
    padding: 6rem 10rem 0 10rem;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #e5e9df;
    &-list {
        display: flex;
        justify-content: space-between;
        &-item {
            max-width: 38rem;
            &-head {
                @include font-props($larger-fs, 700, $main-color, 2.5rem);
                text-transform: uppercase;
                font-family: $main-family;
                height: 4.5rem;
            }
            &-data {
                @include font-props(1.2rem, 400, #6a6969, 2.5rem);
                font-family: $main-family;
                text-transform: uppercase;
            }
            &-img {
                max-width: 38rem;
            }
            &-text {
                @include font-props(1.2rem, 400, #6a6969, 1.4rem);;
                font-family: $main-family;
                margin-top: 2rem;
                height: 5rem;
            }
            &-read-more {
                @include font-props(1.2rem, 400, #fd5000, 1.4rem);
                font-family: $main-family;
                text-transform: uppercase;
                display: block;
                float: right;
                margin-top: .5rem;
            }
        }
    }
}