@import '../utils/variables';
@import '../utils/mixins';

.single-project-wrapper {
    display: none;
    left: 0;
    top: 0;
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $white-color;
}

.single-project-wrapper-active {
    display: block;
}

.single-project-content {
    display: flex;
    justify-content: space-between;
}

.single-project-block {
    padding: 4rem 16rem 22rem 26.2rem;
    height: 100%;
    &-slider {
        margin: 5rem 0 0 6rem;
        display: flex;
        align-items: center;
        &-visible-window {
            overflow: hidden;
            position: relative;
            height: 10rem;
            width: 100%;
        }
        &-list {
            transition: .5s;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            &-item {
                padding: 0 3rem;
                &-img {
                    max-width: 10rem;
                    display: block;
                }
            }
        }
    }
    &-desc {
        margin-top: auto;
        .social {
            margin: 7rem 0 0 25rem;
            .icon {
                color: $main-color;
            }
        }
        &-list {
            margin-top: 3rem;
        }
        &-text {
            font-size: 1.4rem;
            line-height: 1.4rem;
            color: $light-black-color;
            font-weight: 300;
            font-family: $main-family;
            max-width: 54.4rem;
            &-first-para {
                margin-top: 3rem;
            }
            &-second-para {
                margin-top: 1.5rem;
            }
        }
    }
    &-img {
        max-width: 37.5rem;
        margin: 10rem 10rem 0 0;
    }
}

.close-icon {
    cursor: pointer;
    border: .2rem solid $lum-black-color;
    width: 10rem;
    height: 10rem;
    position: relative;
    margin-left: auto;
    .line-single-project, .line-single-project::before, .line-single-project::after {
        position: absolute;
        top: 50%; 
        margin-left: -1.25rem;
        left: 50%;  
        margin-top: -0.15rem;
        display: block;
        width: 2.5rem;
        height: .2rem;
        background-color: $lum-black-color;
    }
    .line-single-project::before, .line-single-project::after {
        content: "";
    }
    .line-single-project::before {
        @include transform-props (-0.6rem, 45deg)
    }
    
    .line-single-project::after {
        @include transform-props (0.6rem, -45deg);
    }
    .line-single-project {
        height: 0;
    }
}

//--/--/--/ PRODUCTS SECTION --/--/--/--/

.product {
    overflow: hidden;
    position: relative;
    &-block {
        &-wrapper {
            @include grid-props(grid, 69fr 31fr);
        }
        &-top-part {
            @include grid-props(grid, 31fr 38fr);
        }
        &-button-part {
            @include grid-props(grid, 20fr 49fr);
        }
        &-aside-part {
            display: grid;
            grid-template-rows: 50fr 93fr 50fr;
        }
        &-item {
            &-project {
                position: relative;
                background-color: $yellow-color;
                background-image: $linear-gradient;
            }
        }
    }
}

.def-h2 {
    text-transform: uppercase;
    @include font-props($larger-fs, 300, $main-color, 1.4rem);
    font-family: $main-family;
}

.def-list {
    li {
        span {
            font-size: $main-fs;
            line-height: 1.4rem;
            color: $main-color;
            font-weight: 300;
            text-transform: uppercase;
            font-family: $main-family;
            @include font-props($main-fs, 300, $main-color, 1.4rem);
        }
    }
}

.projects-item:hover .icon-right-product {
    opacity: 1;
}

.projects-item-time:hover .icon-right-time {
    opacity: 1;
}

.lamp-block {
    .view-block {
        margin-top: 7.5rem;
    }
    .like-block {
        margin: 11rem 0 0 5.5rem;
    }
    display: flex;
    justify-content: space-between;
    position: relative;
    .lamp-img {
        z-index: 5;
        margin-top: -8.5rem;
        display: block;
    }
    padding: 8.5rem 3rem 0 10rem;
}

.lamp-desc {
    &-text {
        margin-top: 1rem;
    }
}

.view-block {
    display: flex;
    .icon-right {
        color: $yellow-color;
        font-size: $largest-fs;
    }
    .icon-right-desc {
        font-size: 1.6rem;
    }
    &-text {
    @include font-props(1.8rem, 300, $main-color, 1.4rem);
        font-family: $main-family;
        text-transform: uppercase;
        margin: .7rem 0 0 1rem;
    }
}



.like-block {
    width: 3rem;
    cursor: pointer;
    .icon-heart-empty {
        font-size: $largest-fs;
    }
    .quantity-likes {
        display: block;
        @include font-props(1.1rem, 300, $red-color, 1.2rem);
        margin-left: .3rem;
        font-family: $main-family;
    }
}



.potter-block {
    display: flex;
    justify-content: space-between;
    padding: 3.5rem 3rem 0 5rem;
    background-color: $dark-white;
    .view-block {
        margin: 1.5rem 0 0;
    }
    .like-block {
        margin: 1rem 0 0 6rem;
    }
    .potter-img {
        height: 25rem;
        margin-top: -3.5rem;
    }
}

.projects {
    position: absolute;
    left: 30%;
    top: 32%;
    &-item {
        display: flex;
        cursor: pointer;
        .icon-right {
            color: $white-color;
            opacity: 0;
        }
    }
    &-text {
        @include font-props(1.3rem, 400, $white-color, 1.4rem);
        text-transform: uppercase;
        font-family: $main-family;
        margin-left: 1rem;
        display: block;
    }
    &-item:hover &-text {
        color: $black-color;
    }
}

.projects-head {
    font-size: 4.8rem;
    color: $light-white;
    font-weight: 400;
    position: absolute;
    top: 60%;
    left: 50%;
}

.potter-block-description {
    margin-top: 2rem;
}

.potter-description-text, .potter-description-head {
    display: block;
    max-width: 15rem;
    @include font-props($main-fs, 300, $main-color, 1.4rem);
    font-family: $main-family;
}

.potter-description-head {
    text-transform: uppercase;
}

.tabano-block {
    padding: 3.5rem 5.5rem 3.5rem;
    background-color: $lum-white;
}

.tabano-img {
    max-width: 25rem;
    display: block;
    margin: 0 auto;
}

.tabano-description {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    &-text {
        &-block {
            margin-top: 1.5rem;
        }
    }
    &-social {
        display: flex;
        .like-block {
            margin-left: 1.5rem;
        }
    }
}

.louis-block {
    padding: 3.3rem 0 0 4rem;
    background-image: url(../img/louis-background.png);
    background-position: bottom;
    background-size: cover;
    height: 103%;
    &-desc {
        .def-h2 {
            color: $white-color;
        }
        &-text {
            @include font-props($main-fs, 300, $light-white, 1.4rem);
            max-width: 25.2rem;
            font-size: $main-fs;
            line-height: $main-fs;
            color: $main-color;
            font-weight: 300;
            font-family: $main-family;
            text-transform: uppercase;
            color: $light-white;
            margin-top: 1.5rem;
        }
    }
    .view-block {
        margin-top: $largest-fs;
        &-text {
            color: $white-color;
        }
    }
    .like-block {
        margin: $largest-fs 0 0 5rem;
        .icon-heart-empty {
            color: $white-color;
        }
    }
    .louis-img {
        display: block;
        max-width: 19.5rem;
    }
}

.p22-block {
    height: 100%;
    display: flex;
    padding: 6.5rem 6.6rem 0 9.5rem;
    position: relative;
    background-color: $bright-white;
    &-desc {
        position: absolute;
        left: 35rem;
        top: 7rem;
        z-index: 5;
        &-text {
            margin-top: 2rem;
        }
    }
    .p22-block-social {
        margin-left: auto;
        .like-block {
            margin: 2rem 0 0 7rem;
        }
    }
}

.p22-img {
    max-height: 40rem;
    display: block;
}

.fiji-block {
    display: flex;
    justify-content: space-between;
    padding: 3.5rem 4rem 0 3rem;
    background-color: $white-color;
    &-img {
        display: block;
        max-width: 19rem;
    }
    &-desc {
        margin: 3rem 0 0 5rem;
        &-list {
            margin-top: 2rem;
        }
        .view-block {
            margin-top: 2.2rem;
        }
        .like-block {
            margin: 1.5rem 0 0 6.5rem;
        }
    }
}

.sensann-block {
    padding: 2.5rem 10.5rem;
    background-color: $white-color;
    &-desc {
        margin-top: 3rem;
        .def-h2 {
            color: $main-color;
        }
        &-list {
            margin-top: 1rem;
        }
    }
}

.sensann-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alessi-block {
    padding: 9rem 0 0 13rem;
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: $blond-white;
}

.alessi-desc {
    z-index: 5;
    &-list {
        margin-top: 1rem;
    }
    .view-block {
        margin-left: -5rem;
        margin-top: 1.5rem;
    }
    .like-block {
        margin-top: 1.5rem;
    }
}

.sensann-img {
    max-width: 57rem;
}

.alessi-img {
    left: -9rem;
    top: 8rem;
    max-width: 21rem;
    display: block;
    position: absolute;
}

.time-line-block {
    background-image: $linear-gradient;
    overflow: hidden;
    background-color: $yellow-color;
    position: relative;
    .container {
        @include grid-props(grid, 49fr 20fr 31fr);
        height: 100%;
        width: 100%;
    }
    &-head {
        @include font-props($main-fs, 400, $main-color, 1.4rem);
        margin-left: 2rem;
        text-transform: uppercase;
        padding-bottom: 1rem;
        text-align: center;
        font-family: $main-family;
    }
    .time-line-wrapper {
        position: absolute;
        top: 15%;
        left: 25%;
    }
    .projects {
        position: static;
        &-text-time {
            @include font-props(1.3rem, 400, $white-color, 1.4rem);
            font-family: $main-family;
            display: block;
            padding-left: 1rem;
        }
        &-item-time:hover .projects-text-time{
            color: $black-color;
        }
    }
}

.studio {
    .container {
        @include grid-props(grid, 31fr 69fr);
    }
    &-block {
        background-image: $linear-gradient;
        overflow: hidden;
        background-color: $orange-color;
        height: 100%;
        position: relative;
        &-head {
            @include font-props(4.8rem, 400, $light-white, 1.4rem);
            top: 55%;
            left: 50%;
            text-transform: uppercase;
            position: absolute;
            font-family: $main-family;
        }
    }
    &-text {
        background-color: $lum-white;
        padding: 7.5rem 11rem 0 11rem;
        display: flex;
        justify-content: space-between;
        &-desc {
            &-para {
                @include font-props(1.8rem, 300, $main-color, 1.6rem);
                margin-top: 2.5rem;
                max-width: 34rem;
                font-family: $main-family;
            }
            &-para:nth-child(3) {
                margin-top: 4rem;
            }
        }
    }
}

.studio-img {
    max-width: 35rem;
}

.awards {
    margin: 3rem 0 0 .5rem;
    &-head {
        @include font-props($main-fs, 700, $main-color, 1.8rem);
        text-transform: uppercase;
        font-family: $main-family;
    }
    &-line {
        width: 100%;
        height: .1rem;
        background-color: $grey-color;
        margin-top: .5rem;
    }
    &-desc {
        display: flex;
        justify-content: space-between;
        &-list {
            margin-top: 2rem;
            &-item {
                @include font-props(1.2rem, 400, $main-color, 1.4rem);
                font-family: $main-family;
                text-transform: uppercase;      
            }       
        }
    }
}

.studio-designer {
    background-color: $lum-white;
    padding: 10rem 0 0 0;
    .container {
        @include grid-props(grid, 31fr 69fr);
    }
    &-desc {
        height: 40rem;
        padding: 0 0 0 19rem; 
        max-width: 45rem;
        &-head {
            @include font-props($main-fs, 400, $main-color, 1.4rem);
            font-family: $main-family;
        }
        &-text {
            font-family: $main-family;
            margin-top: 2rem; 
            @include font-props($main-fs, 400, #5f5f5d, 1.4rem);
        }
    }
    &-list {
        padding: 0 12rem 0 0;
        grid-column-start: 2;
        grid-column-end: 4;;
        display: flex;
        justify-content: space-between;
        &-item {
            margin-left: 3.5rem;
            &-img {
                max-width: 27rem;
            }
        }
        &-item:nth-child(1) {
            margin: 0;
        }
    }
}

.designer-social {
    margin-top: 2rem;
}

.designer-name {
    @include font-props(1.3rem, 700, $main-color, 1.6rem);
    text-transform: uppercase;
    margin-top: 1rem;
    display: block;
    font-family: $main-family;
}

.designer-desc {
    @include font-props(1.2rem, 400, $main-color, 1.6rem);
    text-transform: uppercase;
    font-family: $main-family;
}

.designer-social {
    display: flex;
    justify-content: space-between;
}

.designer-block-social {
    .designer-icon {
        color: $light-red;
        font-size: 1.6rem;
    }
}

.cv-block {
    display: flex;
    align-items: center;
    &-text {
        @include font-props($main-fs, 400, $light-red, 1.6rem);
        font-family: $main-family;
    }
    .icon-left {
        color: $light-red;
    }
}

.news {
    @include grid-props(grid, 31fr 34.5fr 34.5fr);
    &-block {
        overflow: hidden;
        grid-column-start: 1;
        background-image: $linear-gradient;
        grid-column-end: 2;
        position: relative;
        height: 100%;
        background-color: $light-grey;
        &-head {
            @include font-props(4.8rem, 400, $white-color, 1.4rem);
            position: absolute;
            top: 55%;
            left: 50%;
            text-transform: uppercase;
            font-family: $main-family;
        }
    }
}

.news-desc {
    padding: 6rem 10rem 0 10rem;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: $lucid-white;
    &-list {
        display: flex;
        justify-content: space-between;
        &-item {
            max-width: 38rem;
            &-head {
                @include font-props($larger-fs, 700, $main-color, 2.5rem);
                text-transform: uppercase;
                font-family: $main-family;
                height: 4.5rem;
            }
            &-data {
                @include font-props(1.2rem, 400, $dark-grey, 2.5rem);
                font-family: $main-family;
                text-transform: uppercase;
            }
            &-img {
                max-width: 38rem;
            }
            &-text {
                @include font-props(1.2rem, 400, $dark-grey, 1.4rem);;
                font-family: $main-family;
                margin-top: 2rem;
                height: 5rem;
            }
            &-read-more {
                @include font-props(1.2rem, 400, $light-red, 1.4rem);
                font-family: $main-family;
                text-transform: uppercase;
                display: block;
                float: right;
                margin-top: .5rem;
            }
        }
    }
}