@import '../utils/variables';
@import '../utils/mixins';

.footer {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .footer-map {
            width: 100%;
        }
    }
    &-block {
        &-wrapper {
            display: flex;
            justify-content: space-between;
        }
        background-color: #e9eae2;
        padding: 14rem 11rem 3rem;
    }
}

.footer-desc {
    max-width: 10rem;
}

.footer-desc, .footer-contact span {
    @include font-props(1.3rem, 400, #333333, 1.4rem);
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
}

.footer-contact {
    margin-top: 2rem;
}

.footer-contact span {
    display: block;
}

.footer-copyright {
    display: flex;
    @include font-props(1.2rem, 400, #191919, 1.4rem);
    margin-top: 7.5rem;
    font-family: "Roboto Condensed", sans-serif;
}

.map-img {
    background-image: url(../img/map.png);
    background-position: center;
    background-size: cover;
}