@import '../utils/variables';
@import '../utils/mixins';

* {
    margin: 0; 
    padding: 0;
}

a {
    text-decoration: none; 
    color: #fff;
}

ul li {
    list-style: none;
}

html {
    font-size: 10px;
}

.header {
    .container {
        display: grid;
        grid-template-columns: 69fr 31fr;
    }
}

.chairs-block {
    padding: 5rem 10rem 0 22rem;
    background-color: #e9eae2;
    display: flex;
    justify-content: space-between;
}

.navigation {
    background-color: #7acec3;
    position: relative;
    background-image: linear-gradient(to bottom right, #0000 49.7%, #fff, #fff, #0000 50%);
    background-repeat: no-repeat;
}

.logo-img {
    max-width: 16rem;
    max-height: 20.5rem; 
    z-index: 1;
}

.logo-desc {
    &-item {
        &-span {
            display: block;
            font-family: $main-family;
            @include font-props (1.8rem, 400, #393d3c, 2.3rem)
        }
    }
}

.social {
    display: flex;
    margin: 5.5rem 0 0 1rem;
    .icon {
        color: #7bcbc1;
        font-size: 2.2rem;
    }
}

.image-block {
    img {
        width: 49rem;
    }

    margin-left: 9rem;
}

.nav-btn {
    width: 100%;
    height: 100%;
    max-width: 12rem;
    max-height: 12rem;
    border: 0.3rem solid #fff;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    top: 3.5rem;
    left: 17.5rem;
}

.nav-btn {
    position: relative;
    width: 100%;
    height: 100%;
}

.line, .line::before, .line::after {
    display: block;
    position: absolute;
    top: 50%; 
    margin-top: -0.15rem;
    left: 50%; 
    margin-left: -2rem; 
    transition: .05s;
    width: 4rem;
    height: 0.3rem;
    background-color: #fff;
    z-index: 10;
}

.line::before, .line::after {
    content: "";
    display: block;
    transition: .5s;
}

.line::before {
    transform: translateY(-0.6rem)
}

.line::after {
    transform: translateY(0.6rem)
}

.nav-btn-active .line::before {
    transform: rotate(45deg);
    width: 6rem;
    margin-left: -3rem;
} 

.nav-btn-active .line::after {
    transform: rotate(-45deg);
    width: 6rem;
    margin-left: -3rem;
} 

.nav-btn-active {
    border: none;
}

.nav-btn-active .line {
    height: 0
} 

.nav-block {
    @include font-props($main-fs, 400, #ffffff, 2.5rem);
    font-family: $main-family;
    text-transform: uppercase;
    padding: 5.1rem 14.5rem 4.6rem 5rem;
    background-color: #f8c255;
    position: absolute;
    display: none;
    top: 3.5rem; 
    left: -46.5rem;
    z-index: 5;
    display: none;
    li {
        padding: 0 3.4rem;
    }
}

.nav-block-active {
    display: flex;
}

.nav-block-desc {
    @include font-props(1.5rem, 400, #ffffff, 1.4rem);
    max-width: 12.5rem;
    text-transform: uppercase;
    position: absolute;
    font-family: $main-family;
    top: 45%;
    left: 15%;
}

.nav-block-social {
    @include font-props(1.5rem, 400, #ffffff, 1.4rem);
    max-width: 14rem;
    position: absolute;
    font-family: $main-family;
    left: 35%;
    top: 70%;
}

