$breakpoints: (
  'medium-min': (min-width: 800px),
  'large-max': (max-width: 1024px),
  'huge': (min-width: 1200px),
  'large-huge': (min-width: 1025px) and (max-width: 1200px),
);

$main-fs: 1.4rem;
$larger-fs: 2.4rem;
$largest-fs: 2.5rem;
$main-family: "Roboto Condensed", sans-serif;
$main-color: #333333;
$black-color: #000;
$green-color: #7bcbc1;
$white-color: #fff;
$light-white: #fefefe;
$lum-white: #e9eae2;
$dark-white: #dfe0d9;
$bright-white: #eaeaea;
$blond-white: #cecece;
$grey-color: #bfc0b9;
$black-grey: #5f5f5d;
$dark-grey: #6a6969; 
$light-grey: #d4edbf;
$lucid-white: #e5e9df;
$light-black-color: #0b0b0b;
$lum-black-color: #131313;
$yellow-color: #ebb240;
$orange-color: #ff9b6d;
$red-color: #ff0000;
$light-red: #fd5000;

$linear-gradient: linear-gradient(to bottom right, #0000 49.7%, $white-color, $white-color, #0000 50%);